html {
    background-color: azure;
    display: flex;
    justify-content: center;
}

body {
    width: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff62;
    border: 1px solid gray;
    border-radius: 15px;
    padding-bottom: 15px;
}

.titulo {
    margin-left: 130px;
}

h1, h2 {
    color: #39bd44;
}

h3, span {
    color: rgb(224, 146, 93);
}

.contenedorcentral {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

li {
    background-color: #39bd44;
    list-style: none;
    margin-bottom: 8px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 2px;
    border: 2px solid rgb(150, 147, 147);
}

section {
    border: 1px rgb(228, 224, 224) solid;
    background: linear-gradient(180deg, rgba(240, 233, 233, 0.877) 1%, rgba(223, 223, 221, 0.6225840678068102) 4%, rgb(241, 241, 236) 96%, rgb(216, 208, 208) 99%);
    text-align: justify;
    margin-right: 15px;
    padding: 12px;
}

.color1 {
    background-color: brown;
}

a {
    text-decoration: none;
}